In [3]:
# all() function
# if all elements in an iterable are true --> True
# if all elements in an iterable are false --> False

names = ["susan","tom","mike"]
mood  = ["happy","sad",0]
empty = {}

print(all(names),all(mood),all(empty), sep = "\n" )

True
False
True

In [6]:
all({})

True

In [9]:
all([[]])

False

In [4]:
all(["", "dolu", 1 ])

False

In [11]:
# any() 
# all values are true --> True
# all values are False --> False
# empty iterable --> False
names = ["susan","tom","mike"]
mood  = [None, (), 0 ]
empty = {}

print(any(names),any(mood),any(empty), sep = "\n" )

True
False
False